.bigfont {
    font: normal normal bold 2.5em Arial;
    letter-spacing: 0px;
    color: #000000B8;
    padding-top: 0.5em;
}

.add-container {
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.purple-button {
    text-align: center;
    font: normal normal bold 1em Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #7A6DCE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 0.5em;
    margin-left: 1em;
}

.add-container > div {
    display: flex;
    flex-direction: row;
}

input {
    padding-left: 0.5em;
}

#question-preview {
    position: absolute;
    display: none;
    z-index: 999;
}

#question-1 {
    min-width: 400px;
}

main > div{
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 100%;
}

.preview-container {
    display: contents;
    padding: 1em;
    font: normal normal bold 1em Rubik;
}

.submit-button-container {
    margin-top: 1em;
    display: block !important;
}

#preview {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg,
    #2FFDAB,
    #A915E5);
    animation: .8s shake infinite alternate;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

#messageboxq {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(72, 205, 183, 0.9);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
    font-size: 3em;
    bottom: 0;
    right: 0;
}

#DivToShow {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
}