.add-container {
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.add-container > div {
    display: flex;
    flex-direction: row;
}

input {
    padding-left: 0.5em;
}

#preview-topic-container {
    position: fixed;
    display: none;
    z-index: 999;
}

#preview-topic-box>div>img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#preview-topic-box>div {
    height: 90%;
    font: normal normal bold 1em Arial;
    color: #2DE79B;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#preview-topic-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 10px 10px 0px 10px;
    height: 300px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > div{
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.preview-container {
    display: contents;
    padding: 1em;
    font: normal normal bold 1em Rubik;
}

.submit-button-container {
    margin-top: 1em;
    display: block !important;
}

#preview {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg,
    #2FFDAB,
    #A915E5);
    animation: .8s shake infinite alternate;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

#messageboxq {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(72, 205, 183, 0.9);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
    font-size: 3em;
    bottom: 0;
    right: 0;
}

#DivToShow {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
}

.checkbox {
    margin: initial;
}
