@media only screen and (max-device-width: 768px) {
    .map-container {
        height: 60%;
        position: relative;
        z-index: 1;
    }

    #buttons-container {
        z-index: 2;
    }

    #data-table {
        z-index: 2;
    }
}

@media only screen and (max-device-width: 420px) {
    .map-container {
        height: 40%;
        position: relative;
        z-index: 1;
    }

    #buttons-container {
        z-index: 2;
    }

    #data-table {
        z-index: 2;
    }

    .enter-data-popup {
        top: 10%;
        left: auto;
        min-width: unset;
        width: 90%;
        right: auto;
    }

    .enter-predicate-data-popup {
        top: 10%;
        left: auto;
        min-width: unset;
        width: 90%;
        right: auto;
    }

    .update-country {
        width: 95%;
    }

    #country-predicate-input {
        width: 95%;
    }

    #new-word-input-full {
        width: 95%;
    }


}

@media only screen and (min-device-height: 720px) and (max-device-height: 1365px) and (min-device-width: 540px) and (max-device-width: 1023px) {
    main {
        font-size: 1.5em;
    }

    .enter-data-popup, .enter-predicate-data-popup {
        transform: scale(1.2);
        left: 1.5em;
    }

    .enter-predicate-data-popup {
        width: 70%;
    }

    .enter-data-popup > div > div > button {
        transform: scale(1.5);
    }

    .login-buttons-container > button {
        transform: scale(1.5);
    }

    #show-table-view-button, #download-csv-button, #add-new {
        transform: scale(1.2);
        margin: 1em;
        margin-left: 2em;
        z-index: 5;
    }
}

@media only screen and (min-device-width: 1024px) and (min-device-height: 1366px) and (orientation: portrait) {
    .map-container {
        height: 60%;
        z-index: 1;
    }

    #slide-nav, #shadow-menu {
        z-index: 9999;
    }

    .enter-data-popup, .enter-predicate-data-popup {
        transform: scale(1.3);
        left: 12%;
    }

    .enter-data-popup > div > div > button {
        transform: scale(1.5);
    }

    .login-buttons-container > button {
        transform: scale(1.5);
    }

    .enter-predicate-data-popup {
        width: 70%;
    }
}

@media only screen and (max-device-width: 640px) and (orientation: landscape) {
    .map-container {
        height: 90%;
    }
}

@media only screen and (orientation: landscape) {
    main {
        font-size: 1em;
    }
}