@media only screen and (max-device-width: 768px) {
    .map-container {
        height: 60%;
        position: relative;
        z-index: 1;
    }

    #buttons-container {
        z-index: 2;
    }

    #data-table {
        z-index: 2;
    }
}

@media only screen and (max-device-width: 420px)
{
    .map-container {
        height: 40%;
        position: relative;
        z-index: 1;
    }

    #buttons-container {
        z-index: 2;
    }

    #data-table {
        z-index: 2;
    }

    .enter-data-popup {
        top: 10%;
        left: auto;
        min-width: unset;
        width: 90%;
        right: auto;
    }

    .enter-predicate-data-popup {
        top: 10%;
        left: auto;
        min-width: unset;
        width: 90%;
        right: auto;
    }

    .update-country {
        width: 95%;
    }

    #country-predicate-input{
        width: 95%;
    }

    #new-word-input-full {
        width: 95%;
    }


}