path:hover,
circle:hover {
    stroke: lime !important;
    stroke-width: 2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#DivToShow {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
}

.map-container {
    height: calc(100% - 2.9em - 2px);
    position: relative;
    z-index: 99;
    margin-left: auto;
    margin-right: 0;
}

#country-text {
    position: absolute;
    left: 0;
    bottom: 0;
    font: normal normal normal 1em Rubik;
}

#selectDiv {
    position: absolute;
    top: 20vh;
    left: 20vw;
}

#messageboxq {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(72, 205, 183, 0.9);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
    font-size: 3em;
    bottom: 0;
    right: 0;
}

.background-shade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.enter-data-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    border: 1px solid #707070;
    border-radius: 26px 26px 0 26px;
    opacity: 0.96;
    min-width: 336px;
    font: normal normal normal 2em Rubik;
    padding: 0.5em
}

.login-buttons-container {
    margin-top: 1em;
}

#new-word-input {
    width: 100%;
}

.purple-button {
    text-align: center;
    font: normal normal bold 1em Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #7A6DCE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 0.5em;
    margin-left: 1em;
}

#buttons-container {
    position: absolute;
    top: 3.1em;
    margin-top: 1em;
}

#data-table {
    display: none;
    background: whitesmoke;
    position: fixed;
    top: 7em;
    margin-top: 1em;
    z-index: 999;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0.2em solid #2DE79B;
    font: normal normal normal 1em Rubik;
    background-color: #f7f7f7;
}

th, td {
    text-align: left;
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:first-of-type {
    border-bottom: 0.01em solid black;
}

tr:hover {
    background-color: #F8F8FF;
}

tr:first-of-type:hover {
    background-color: #f7f7f7;
}