#data-table {
    background: whitesmoke;
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0.2em solid #2DE79B;
    font: normal normal normal 1em Rubik;
}

th, td {
    text-align: left;
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:first-of-type {
    border-bottom: 0.01em solid black;
}

#profile-content {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    min-height: 14em;
}

#info-container {
    display: flex;
    flex-direction: column;
}

#profile-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    background-color: #F5F5F5;
    align-content: space-between;
}

.avatar {
    width: 200px;
    height: auto;
    max-height: 200px;
    border-radius: 5%;
    border: 2px solid #707070;
    margin: 1em;
}

#info-container {
    margin-left: 1em;
}

.purple-button {
    text-align: center;
    font: normal normal bold 1em Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #7A6DCE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 0.5em;
    margin-left: 1em;
}

#rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.lengend-action-buttons {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
label {
    font-weight: normal;
    font-size: 1em;
    Font-Family: Rubik;
    Color: black;
    display: block;
    cursor: pointer;
}
[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
[type="radio"] + span:after {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: -0.10em;
    border-radius: 1em;
    border: 0.2em solid #fff;
    box-shadow: 0 0 0 0.10em #AC0EE7;
    margin-left: 0.75em;
    transition: 0.5s ease all;
}
[type="radio"]:checked + span:after {
    background: #2EFFAA;
    box-shadow: 0 0 0 0.10em #AC0EE7;
}
[type="radio"]:focus + span::before {
    font-size: 1.2em;
    line-height: 1;
    vertical-align: -0.125em;
}

#ban-user-container {
    display: flex;
    flex-direction: column;
    border-left-color: #707070;
    border-left-style: dotted;
    border-left-width: 0.1em;
    margin-left: 2em;
}

#messageboxq {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(72, 205, 183, 0.9);
    border-radius: 0.3em;
    padding: 0.5em;
    z-index: 999;
    font-size: 3em;
    bottom: 0;
    right: 0;
}

#about-desc {
    border-color: #707070;
    border-style: dotted;
    font: normal normal normal 1em Rubik;
    word-break: break-word;
    padding: 0.2em;
}

#about {
    display: flex;
    flex-direction: column;
}