@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }

    input {
        background: #FFFFFF 0% 0% no-repeat padding-box;
border: 3px solid #6F7173;
border-radius: 10px;
text-align: left;
font: normal normal normal 1em Arial;
line-height: 16px;
letter-spacing: 0px;
color: #2699FB;
width: 85%;
padding: 0.5em;
    }

    .login-caption-container {
        display: flex;
flex-direction: column;
text-align: left;
align-items: center;
font: normal normal bold 1.5em Arial;
letter-spacing: 0px;
color: #7A6DCE;
width: 100%;
margin-top: 2em;
    }

    form.login {
        height: 50vh;
        width: 100%;
        position: absolute;
bottom: 0;
opacity: 0.98;
    }

    .login-container {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 100%;
    }

    .logo {
        font: normal normal normal 5em Rubik;
    position: absolute;
    top: 25vh;
    }

    nav {
        visibility: collapse;
        width: 100vh;
        transition: 0.5s;
    }

    .small-logo {
        font: normal normal normal 3em Rubik;
    }

    #burger {
        visibility: visible;
    }


    .registration-container {
        border: 3px solid #707070;
        width: 90vw;
    }

    select {
        font: normal normal normal 1em Arial;
        width: 90%;
height: 2em;
border: 3px solid #6F7173;
    }

    .register-button {
        border: 4px solid #2EFFAA;
    }

    .checkbox > input {
        height: 60px;
width: 60px;
    }

    .checkbox > input:checked {
        border: 4px solid #AD0DE7;
    }

    li > .button {
        font: normal normal bold 1.5em Arial;
    }

    .login-buttons-container > button {
        font: normal normal bold 2em Arial;
        line-height: 2em;
        border: 4px solid #2EFFAA ;
        border-radius: 15px;
    }

    main {
        filter: none;
    }
}