body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #2EFFAA 0%, #AD0DE7 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
    font: normal normal normal 9vw Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.login-container {
    width: 50%;
    height: auto;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 70%;
    height: 40vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    border: 1px solid #707070;
    border-radius: 26px 26px 0 26px;
    opacity: 0.96;
    min-width: 336px;
    min-height: 336px;
}

.login-buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.login-caption-container {
    display: flex;
    flex-direction: column;
    
    text-align: left;
    align-items: center;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #7A6DCE;
    width: 100%;
    margin-top: 2em;
}

button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #2EFFAA;
    border-radius: 6px;
    text-align: center;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #7A6DCE;
    width: auto;
    line-height: 2em;
    white-space: nowrap;
    margin: auto;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #6F7173;
    border-radius: 10px;
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    line-height: 16px;
    letter-spacing: 0px;
    color: #2699FB;
    width: 85%;
    line-height: 2.5em;
}



.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: #FAFAFA;  
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #2EFFAA 0%, #AD0DE7 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 0.1em solid #2EFFAA;
    border-radius: 0.3em;
    /*text-align: center;*/
    margin-bottom: 0.4em;
    padding: 0.2em;
    width: 100%;

    text-align: left;
    font: normal normal bold 1.3vw Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    position: relative;
}

.small-logo {
    text-align: center;
font: normal normal normal 3.5vw Rubik;
letter-spacing: 0px;
color: #FFFFFF;
}

li {
    text-align: left;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

li:first-child {
    margin-top: 2em;
}

li:nth-child(4) {
    margin-top: 3em;
}

.fa, .fax {
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

header {
    align-items: center;
    padding: 0.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 0px 0px 12px 12px;
}

.title-bar {
    text-align: center;
font: normal normal bold 1.5em Arial;
letter-spacing: 0px;
color: #000000B8;
}

.registration-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    border: 1px solid #707070;
border-radius: 26px;
opacity: 0.96;
width: 40vw;
height: auto;
}

.register-text {
    text-align: center;
    font: normal normal bold 44px/50px Arial;
    letter-spacing: 0px;
    color: #000000B8;
    text-shadow: 0px 3px 6px #00000029;
}

.textarea-caption-container {
    text-align: left;
font: normal normal bold 14px/16px Arial;
letter-spacing: 0px;
color: #7A6DCE;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #95989A;
border-radius: 10px;
}

select {
    text-align: left;
font: normal normal normal 14px/16px Arial;
letter-spacing: 0px;
color: #2699FB;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #6F7073;
border-radius: 10px;
width: 90%;
height: 3em;

}


.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    margin-left: 2.5em;
margin-top: 2em;
}

.checkbox > span {

    padding: 0.5rem 0.25rem;

color: #7A6DCE;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid #AD0DE7;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #ffffff;
    cursor: pointer;
  }

.checkbox > input:checked {
    border: 2px solid #AD0DE7;
    background-color: #ffffff;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #2DE79B;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.checkbox > input:active {
    border: 2px solid #ffffff;
}

.register-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #2EFFAA;
    border-radius: 6px;
    text-align: center;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #7A6DCE;
    width: auto;
    line-height: 2em;
    white-space: nowrap;
    margin-top: 1em;
margin-bottom: 0.5em;
}

.fas.fa-bars {
    visibility: hidden;
}

.bigfont {
    font: normal normal bold 2.5em Arial;
    letter-spacing: 0px;
    color: #000000B8;
    padding-top: 0.5em;
}

#shadow-menu {
    display: none;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font: normal normal normal 3em Rubik;
    z-index: 999;
}